body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("heart_bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: "Pixelify Sans", sans-serif;
}


#envelope-container {
    text-align: center;
    cursor:pointer;
}

@keyframes pulse {
    0% {
        transform:scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#envelope-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#envelope {
    width: 200px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.top-text p,
.bottom-text p {
    margin: 0;
    font-size: 24px;
    line-height: 1.1; 
}

.bottom-text {
    width: 100%;
    text-align: right;
    padding-right: 60px;
}


#letter-container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.letter-window{
    width: 90vw;
    max-width: 750px;
    aspect-ratio: 3/2;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 1px;
    padding-top: 180px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 24px;
    margin: 0 40px;
    line-height: 1.4;
    text-align: center;
}

p {
    font-size: 400px;
}


.letter-window.final .cat {
    margin-top: -25px;   

}
.cat.dance {
    margin-top: -25px;
}


.cat {
    width: 215px;
    margin: 25px 0;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: -200px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.no-wrapper{
    position:relative;
}

.btn {
    width: 115px;
    cursor: pointer;
    user-select: none;
}

.no-btn,.yes-btn{
width: 90px;
height: auto;
display: inline-block;

}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
    margin-top: 16px;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
    margin-top: 17px;
}
#next-wrapper {
            
    margin-top: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    
}